{
  "attribution": "BAN",
  "license": "ETALAB-2.0",
  "filters": {
    "citycode": {
      "maxValues": 10
    },
    "postcode": {
      "maxValues": 10
    },
    "type": {
      "maxValues": 1
    }
  }
}
