services:
  addok-server:
    build: .
    environment:
      ADDOK_FILTERS: citycode,postcode,type
      ADDOK_DATA_URL: https://adresse.data.gouv.fr/data/ban/adresses/latest/addok/addok-france-bundle.zip
    ports:
      - '5000:5000'
